.users-section {
  .user-section::-webkit-scrollbar {
    width: 0em;
  }
  .user-section::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #ccc;
    border-radius: 20px;
  }
}
.users-section:hover {
  .user-section::-webkit-scrollbar {
    width: 0.2em;
  }
}

.user-section {
  height: 85vh;
  overflow-y: scroll;
}

.user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid blanchedalmond;

  .chat-name {
    padding: 0px 13px;
  }
}
